<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Stefan Cel Mare</title>
    <link rel="stylesheet" href="/images/styles.css">

</head>
<body>
    <header>
        <img src="/images/images/usv.png" alt="Header Image">
    </header>
    <div class="container">

        <div class="half">
            <img src="/images/images/WhatsApp%20Image%202024-11-24%20at%2013.01.38%20(1).jpeg" alt="Students">
            <div class="overlay">
                <a href="/login" class="button">Students</a>
            </div>
        </div>


        <div class="half">
            <img src="/images/images/WhatsApp%20Image%202024-11-24%20at%2013.01.38.jpeg" alt="Professors">
            <div class="overlay">
                <a href="/login" class="button">Professors</a>
            </div>
        </div>
    </div>
</body>
</html>
☺