<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exam Schedule</title>
    <link rel="stylesheet" href="/images/styles.css">
</head>
<body>
<header>
    <div class="left-section">
        <img src="/images/images/usv.png" alt="University Logo">
    </div>
    <div class="right-section">
        <span th:text="${fullName}">User Name</span>
        <img th:src="${pictureUrl}" alt="Profile Picture" />
    </div>

</header>

</body>
</html>